* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    margin-top: 3px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.left {
    width: 30vw;
    padding-left: 25px;
    position: fixed;
}

.right {
    width: 70vw;
    position: absolute;
    right: 0;
}

.left .icons {
    width: 25px;
    color: #b3b3b3;
}

.right .icons {
    width: 25px;
}

.left .create-playlist p:first-child {
    font-weight: 600;
    font-size: 15px;
}

.left .create-playlist p:nth-child(2) {
    font-size: 13px;
}

.left .create-playlist button {
    font-weight: 600;
    font-size: 13px;
}

.left .browse-podcasts p:first-child {
    font-weight: 600;
    font-size: 15px;
}

.left .browse-podcasts p:nth-child(2) {
    font-size: 13px;
}

.left .browse-podcasts button {
    font-weight: 600;
    font-size: 13px;
}

.left .ul ul button {
    margin-top: 25px;
    display: flex;
    color: #b3b3b3;
    background-color: black;
    border: none;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;

    &:hover {
        color: white;
        transition: all 0.3s ease-in;
        transition: all 0.3s ease-out;
    }
}

.left .ul ul button i {
    background-color: black;
    font-size: 25px;
}

.left .create-playlist,
.browse-podcasts {
    margin-top: 40px;
}

.left .create-playlist button,
.browse-podcasts button {
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 40px;
    border: none;

    &:hover {
        font-size: 0.83rem;
    }
}

li {
    list-style: none;
}

.left .footer .footer-content {
    margin-top: 40px;
}

.left .footer .footer-content ul li {
    font-size: 10px;
    list-style: none;
}

.left .footer .footer-content p span {
    font-size: 10px;
    padding-right: 15px;
    color: #b3b3b3;
}

.left .footer .footer-content p:nth-child(2) {
    font-size: 11px;
}

.left .footer button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 40px;
    font-weight: 600;
    margin-top: 40px;

    &:hover {
        font-size: 0.85rem;
        border: 2px solid white;
    }
}

.right nav {
    display: flex;
    justify-content: space-between;
}

.right nav button {
    width: 32vw;
    display: flex;
    justify-content: space-between;
}

.right nav button img {
    width: 20px;
}

.right nav .btn2 {
    display: flex;
    justify-content: space-evenly;
}

.right nav button p,
i {
    color: #b3b3b3;
}

.right nav .btn1 {
    background-color: #1f1f1f;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    right: 430px;
    border: none;
    cursor: pointer;
}

.right nav .btn2 {
    position: absolute;
    right: 10px;
}

.right nav .home {
    position: absolute;
    top: 20px;
    left: 420px;
    font-size: 20px;
    color: white;
}

.right nav .btn1 img {
    position: absolute;
    right: 375px;
    top: 3px;
}

.right nav .btn1 .para1 {
    position: absolute;
    right: 187px;
    top: 3px;
}

.para2 {
    position: absolute;
    right: 60px;
    top: 3px;
}

.window {
    position: absolute;
    right: 30px;
    top: 5.5px;

    &:hover {
        color: white;
    }
}

.right nav .btn2 button {
    width: 95px;
    height: 45px;
    margin-left: 20px;
}

.right nav .btn2 button:nth-child(2) {
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 10px;

    &:hover {
        font-size: 15.5px;
        background-color: rgb(228, 226, 226);
    }
}

.right nav .btn2 button:nth-child(1) {
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    color: #b3b3b3;
    background-color: transparent;
    padding-top: 10px;
    padding-left: 20px;

    &:hover {
        color: white;
        font-size: 15.5px;
    }
}

.right .nav-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.right .nav-2 p:hover {
    text-decoration: underline;
}

.right .nav-2 p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
}

.right .nav-2 p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    margin-right: 25px;
}

.right main .cards {
    width: 160px;
    height: 236px;
    display: flex;
    gap: 15px;
}

.right main .cards .cardButton img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
}

.right main .cards .cardButton {
    width: 136px;
    height: 136px;
    padding: 10px;
}

.right main .cards .cardButton p:nth-child(3) {
    font-size: 12.5px;
    color: #b3b3b3;
}

.right main .cards .cardButton button,
.right .songs-cards  .posters button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    position: relative;
    left: 90px;
    top: 88px;
    background-color: #1ed760;
}

.right main .cards .cardButton button i,
.right .songs-cards .posters button i {
    font-size: 20px;
    color: black;
    padding-left: 4px;
    padding-top: 2px;
}

.right main .cards .cardButton .playbutton,
.right .songs-cards .posters .playbutton {
    width: 160px;
    height: 232px;
    position: relative;
    left: -9px;
    bottom: 205px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.right main .cards .cardButton .playbutton:hover,
.right main .cards .cardButton .playbutton:focus,
.right .songs-cards .posters .playbutton:hover,
.right .songs-cards .posters .playbutton:focus {
    opacity: 1;
}

.right .songs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.right .songs-container p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
}

.right .songs-container p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    margin-right: 25px;
}

.right .songs-cards {
    width: 160px;
    height: 236px;
    margin-left: 10px;
    display: flex;
}

.right .songs-cards .posters img {
    height: 136px;
    height: 136px;
    border-radius: 5px;
}

.right .songs-cards .posters p:nth-child(3) {
    font-size: 12.5px;
    color: #b3b3b3;
    max-width: 10vw;
}

.right .songs-cards .posters {
    max-width: 148px;
}

.right .songs-container p:hover {
    text-decoration: underline;
}

.right .right_footer {
    margin-left: 10px;
    height: 55vh;
}

.right .right_footer .footer_content {
    display: flex;
    justify-content: space-evenly;
}

.right .right_footer .footer_content .box p:first-child {
    color: white;
    font-weight: 600;
}

.right .right_footer .footer_content .box p {
    color: #b3b3b3;
    font-size: 14px;
}

.right .right_footer .footer_content .box_5 {
    display: flex;
    gap: 45px;
}

.right .right_footer .footer_content .box_5 p i {
    font-size: 17px;
}